.portada {
    height: 55vh;
    width: 100%;
    transition: all .3s ease-out;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: grid;
grid-template-columns: .5fr 1fr .5fr;
  
}
.portada .ico{
  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}
.portada .titulo{

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: bebas neue;
    letter-spacing: 5px;
}
.portada .titulo h3{
    background-color: #4d02aaa1;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 45px;
    height: 20%;
    text-align: center;

}
.portada .ico i{
    font-size: 80px;
}