.boton {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;

}
.Link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: montserrat;
  font-weight: 600;
  margin: 0px 30px 0px 30px;
  letter-spacing: 2px;
}
