

.cards{ 
  margin: 15px;
  height: auto;
  float: left;

    

}

.cards .cardy{     

    width: 200px;
    height: 175px;
   
    border-radius:6px ;
   
    box-shadow: 0 8px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;

    text-align: center;
transition: all .3s ease-out;
}

.cards .cardy:hover{
    cursor: pointer;

box-shadow: 0 20px 8px rgba(0, 0, 0, 0.109);

}

.cards .cardy img:hover{
    cursor: pointer;
    transform: scale(115%);
    transition: all .3s ease-out;
}


.cards .cardy img{
    width: 200px;
    height:70%;
    transition: all .3s ease-out;
    object-fit: cover;

}
.cards .cardy .links{
     text-decoration: none;
}
.cards .cardy .links h2{
    color: #FFD81B;

 text-align: center;


   height: 100%;
    padding: 10px;
    font-family: montserrat;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 18px;  
    
    transition: all .5s ease-in-out;
    transform: translateY(0px);
}
@media (max-width: 1150px){
    
.cards .cardy img{
    width: 150px;
    height:60%;
    transition: all .3s ease-out;
    object-fit: cover;

}
.cards .cardy{     

    width: 150px;
    height: 150px;
transition: all .3s ease-out;
}
.cards .cardy .links h2{
    color: rgb(255, 255, 255);
   background-color:#FFD81B;
 

   height: 100%;
    padding: 10px;

    font-weight: 600;
    font-size: 16px;  
   
}
}
