.seccionContacto{
    background-image: url("../../assets/image/Fondo-contacto.png") ;
    background-repeat: no-repeat;

    background-size: cover;
    background-position: center;
    
 
  display: flex;
  justify-content: center;
  align-items: center;
height: 100vh;
min-height: fit-content;
    width: 100%;

}
.contenedor{
    display: flex;
    height: 100%;
 
min-height: fit-content;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:50%;
}
.contenedor p{
    text-align: center;
    font-family: montserrat;
    font-size: 20px;
    font-weight: 500;
}
.contenedor a{
    color: aliceblue;
}
.contenedor a:hover{
    color: rgb(255, 230, 2);
}
.contenedor h2{
    text-align: center;
    font-family: Bebas neue;
    font-size: 40px;
    letter-spacing: 5px;
}
@media screen and (max-width:1150px) {
    
    
    .contenedor p{
        font-size: 18px;
        font-weight: 500;
    }
    .contenedor h2{
         font-size: 30px;
        letter-spacing: 5px;
    }
}
@media screen and (max-width:550px) {
    
   
    .contenedor p{
        font-size: 16px;
     
    }
    .contenedor h2{
         font-size: 25px;
     
    }
}