.barra{


position: fixed;
width: 100%;
z-index: 1;

margin-bottom: 60px;
}
nav {
    background-color: #00000067;
height: 50px;
-webkit-box-shadow: -3px 24px 31px -10px rgba(0,0,0,0.36);
-moz-box-shadow: -3px 24px 31px -10px rgba(0,0,0,0.36);
box-shadow: -3px 24px 31px -10px rgba(0,0,0,0.36);
 

}
.barra .navbar .navbar-collapse{
    border-radius: 0px 0px 16px 16px;
}
.barra .navbar .navbar-brand .img{
    width: 120px;
    height: auto;
    margin: 0px 20px 0px 50px;
    padding: 10px;

}
.barra .navbar a{
    color: rgb(255, 255, 255);
    font-size: 18px;
  
    margin-left: 5px;
    transition: all .5s ease-out;
    font-family: montserrat;
font-weight: 500;
    letter-spacing: 2px;

}
.barra .navbar a:hover{
    color: #9667cf;
}
.barra .navbar .navbar-brand:hover{
    color: #5B1DA8;
    font-size: 35px;
    transition: all .5s ease-in-out;
}
.navbar-toggler{
 

    transition: all .5s ease-in-out;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px; 
    border-radius: 60px;
  
  margin-right: 20px;
    font-size: 18px;
} 

.barra .navbar .navbar-toggler .navbar-toggler-icon .fa-hamburger{
   color: aliceblue;
   font-size: 25px;

}



/*media query*/
@media (max-width:990px){
    .barra .navbar .navbar-collapse{
background-color: #353441;
        padding: 25px;

 
            border-radius:  25px;
        }
      

    }
    @media (max-width:450px){
        .barra .navbar .navbar-brand .img{
            width: 150px;
            padding: 0px;
        margin: 0px;
        margin-left: 10px;
            transition: all 1s;
        }
    }

  @media (max-width:350px){
   
    .barra .navbar .navbar-brand .img{
        width: 100px;
        padding: 0px;
    margin: 0px;
    margin-left: 10px;
        transition: all 1s;
    }
    nav {
        background-color: #00000067;
    height: 100px;
    -webkit-box-shadow: -3px 24px 31px -10px rgba(0,0,0,0.36);
    -moz-box-shadow: -3px 24px 31px -10px rgba(0,0,0,0.36);
    box-shadow: -3px 24px 31px -10px rgba(0,0,0,0.36);
     
    
    }
    }
 
 