.barra{


position: fixed;
width: 100%;
z-index: 1;

margin-bottom: 60px;
}
nav {
    background-color: #353441;
height: 100px;
-webkit-box-shadow: -3px 24px 31px -10px rgba(0,0,0,0.36);
-moz-box-shadow: -3px 24px 31px -10px rgba(0,0,0,0.36);
box-shadow: -3px 24px 31px -10px rgba(0,0,0,0.36);
 

}
.barra .navbar .navbar-collapse{
    border-radius: 0px 0px 16px 16xp;
}
.barra .navbar .navbar-brand .img{
    width: 180px;
    height: auto;
    margin: 0px 20px 0px 50px;
    padding: 10px;

}
.barra .navbar a{
    color: rgb(255, 255, 255);
    font-size: 22px;
  
    margin-left: 5px;
    transition: all .5s ease-out;
    font-family: montserrat;
font-weight: 400;
    letter-spacing: 3.5px;

}
.barra .navbar a:hover{
    color: #9667cf;
}
.barra .navbar .navbar-brand:hover{
    color: #5B1DA8;
    font-size: 35px;
    transition: all .5s ease-in-out;
}
.navbar-toggler{
    background-color: #5B1DA8;
    transition: all .5s ease-in-out;
    height: 40px;
    width: 60px; 
    border-radius: 60px;
  margin-right: 45px;
    font-size: 16px;
}




/*media query*/
@media (max-width:990px){
    .barra .navbar .navbar-collapse{
background-color: #353441;
        padding: 25px;

 
            border-radius:  25px;
        }
      
    }
  @media (max-width:340px){
   
        .barra .navbar .navbar-brand img{
            
          visibility: hidden;
            display: none;
        }
    }
    @media (min-width:190px){
        .barra .navbar .navbar-brand img{
            width: 200px;
            transition: all 1s;
        }
    }

  
    @media (max-width:290px){
        .barra .navbar .navbar-brand img{
           z-index: 1;
                   position: absolute;
            transition: all 1s;
        }
    }