/*boton de descarga de mi cv*/
.botonDescargaCV{

  display: flex;
  padding: 7px;
 justify-content: end;
}

.ico a{
    text-decoration: none;
    color: aliceblue;
   
}
.ico a:hover{
color: #FFD81B;
 
 
}


/* contenido del abaut me  grid*/
/*Contenedor padre*/  .abaut {
  height: min-content;
padding: 50px;

  background-color: #000000;
  box-shadow: 0px 5px 5px #494949 ;
  font-family: "Montserrat", sans-serif;
}
/*contenedor general de informacion divicion GRID*/
.grid {
  transition: all .5s ease-out;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 30px;
margin-left:60px;
margin-right: 60px;
height: 80vh;
}
/*Texto descriptivo */
/*contenedor*/
.information {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
/*titulo*/
.information h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  letter-spacing: 10px;
}
/*parrafo*/
.information p {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 500;
}
/*imagen lado derecho*/
.img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img img {
  width: 200px;
}
/*Parte inferior del contenedor grid*/

.parrafo {
  transition: all .5s ease-out;
  padding: 2px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

/*------------------media query page responsive 4k------------*/

@media screen and (min-width :2500px) {
   
  .img img{
    width: 300px;
  }
  .information h2{
    font-size: 50px;

  }
  .information p{
    font-size: 43px;
  }
  .parrafo{
    font-size: 35px;
 
  }
  
  }
/*------------------media query page responsive 1899------------*/

@media screen and (min-width :1899px) {
   
  .img img{
    width: 300px;
  }
  .information h2{
    font-size: 45px;

  }
  .information p{
    font-size: 38px;
  }
  .parrafo{
    font-size: 30px;
 
  }
  
  }

  /*------------------media query page responsive 900------------*/

@media screen and (max-width :900px) {
  .abaut{
   height: max-content;
    transition: all .5s ease-in-out;
    
  } 
 .grid{

   transition: all .5s ease-in-out;
   height: auto;
   grid-template-rows: 1fr .5fr .5fr;
 }
  .parrafo{
   
    height: fit-content;
  }
  }
    /*------------------media query page responsive 640px------------*/

@media screen and (max-width :640px) {

  .parrafo{
   
font-size: 16px;
font-weight: 500;
  }
  }
   /*------------------media query page responsive 520px------------*/

@media screen and (max-width :640px) {
  .grid{

    transition: all .5s ease-in-out;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6 1fr);
  
  }
  .information h2{
    font-size: 25px;
  }
  .information p{
     font-size: 18px;
  }
 
  .parrafo{
    height: fit-content;

font-size: 12px;
font-weight: 500;
  }

}


