/*impoorto la tipografia del titulo "bebas neue" */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.portafolio {
  height: max-content;
  display: grid;

 
 
}

/*grid uno parte superior de la seccion*/
.grid1 {
  height: max-content;
  padding: 100px;


width: 100%;

}
.grid1 h3 {
  background: rgba(162, 68, 255, 0.87);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.794);
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 10px;
  border-radius: 5px;
margin-top:auto ;
  min-height: fit-content;
display: flex;
align-items: center;
  padding-left: 50px;

  font-size: 45px;
  letter-spacing: 3px;
  font-family: "Bebas Neue", cursive;
}
.grid1 .info {
  border-radius: 0px 0px 20px 20px;
  padding: 25px;
color: rgba(51, 51, 51, 0.856);
  padding-left: 50px;
  padding-right: 150px;
  font-family: montserrat;
  font-size: 20px;
  word-wrap: break-word;

  font-weight: 600;
}


/*grid2 parte media de la seccion aqui se encuentra el portafolioDesign*/



.grid2 {
  display: grid;
  padding-top: 35px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 15px;

  padding-left: 50px;
  border-radius: 16px 16px 0px 0px;

  align-items: center;
  
}
.grid2 .parrafoBranding{
  grid-row:span 2;
}
.grid2 .textoD p {
  color: rgba(49, 49, 49, 0.856);

  font-size: 18px;
  margin: 50px;
  margin-top: 0px;
 
font-weight: 600;

}
.portafolios{
  
  display: flex;
 justify-content: space-evenly;
 align-items: center;
 flex-wrap: wrap;
 flex-direction: column;
 gap: 3.5em;
}

.skills {
word-wrap: break-word;

  margin: 25px; 
display: flex;
height: max-content;
justify-content: center;
  text-align: center;
  box-shadow: 3px 5px 10px 2px rgba(175, 175, 175, 0.623);
  border-radius: 0px 10px 00px 10px;
  align-items: center;
}
.skills h3 {
  display: inline-block;
  padding: 0px;
  color: #494949;
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
}
.skills i {
  color: #575757;
  font-size: 20px;
  margin: 20px;
}
.skills i:hover {
  
  color: rgb(170, 170, 170);
}

/*media query a 900 pixeles*/
@media (max-width: 1150px){
  .grid2{
    grid-template-rows: 1fr 180px;
  }
  .grid2 .textoD p{
    font-size: 20px;
  }
  .grid1 .info {
     
     padding-left: 0px;
   
    padding-right: 0px;
    padding: 20px;
    font-size: 18px;
  }
  .skills{

    display: block;
  }
}
/*media query a 750 pixeles*/
@media (max-width: 750px){
  .grid1 {
    height: max-content;
    padding: 5px;
  
  
  width: 100%;}

  .grid2 .textoD{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grid2{ 
    margin: 0px;
     padding: 0px;
    margin: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr) 150px  ;
  }
  .grid1 h2{
    font-size: 30px;
    padding-left: 40px;
  }
  .grid2 .parrafoBranding{
    grid-row: auto;
  }
  .grid1 .info {
    font-size: 16px;
  }
  .grid2 .textoD p{

    font-size: 18px;
  }
  .skills{
   
    display: block;
    margin: 0px;
    margin-left: 0px;
  }
}

/*media query a 450 pixeles*/
@media (max-width: 450px){
  .grid1 {
    height: max-content;
    padding: 5px;
  
  
  width: 100%;}
  .grid2{
    padding: 0px;
    margin: 0px;
  }
  .grid2 .textoD{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grid2 .textoD p{
    width: 50%;
    font-size: 16px;
  }
  .skills{
   
    display: block;
  }
  .skills h3{
 
    font-size: 16px;
  }
  .skills i{
    font-size: 13px;
  }
}
