/*impoorto la tipografia del titulo "bebas neue" */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.portafolio {
  height: max-content;
  display: grid;
  margin-top: 0px;
 
 
}

/*grid uno parte superior de la seccion*/
.grid1 {
  height: max-content;
  
  padding-top: 100px;
margin-top: 0px;
width: 100%;

}
.grid1 h2 {
  background-color: #5B1DA8;
  padding: 10px;
  border-radius: 5px;
  height: fit-content;

  padding-left: 90px;
  margin: 0spx;
  font-size: 45px;
  letter-spacing: 3px;
  font-family: "Bebas Neue", cursive;
}
.grid1 .info {
  border-radius: 0px 0px 20px 20px;
  padding: 25px;
color: black;
  padding-left: 100px;
  padding-right: 150px;
  font-family: montserrat;
  font-size: 20px;

  font-weight: 600;
}
.part1 h2 {
  padding-left: 50px;
  padding-top: 15px;
}

/*grid2 parte media de la seccion aqui se encuentra el portafolioDesign*/



.grid2 {
  display: grid;
  padding-top: 35px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 130px;
  grid-gap: 15px;
background-color: #5B1DA8;
  padding-left: 50px;
  border-radius: 16px 16px 0px 0px;
  box-shadow: 0px 5px 10px #5B1DA8 ;
  align-items: center;
  
}
.grid2 .parrafoBranding{
  grid-row:span 2;
}
.grid2 .textoD p {
  color: rgb(255, 255, 255);
  font-size: 18px;
  margin: 50px;
  margin-top: 0px;
 
font-weight: 600;

}
.portafolios{
  
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
}

.skills {
  background-color: #FFF279;
  margin: 25px; 
display: flex;
height: max-content;
justify-content: center;
  text-align: center;
  box-shadow: 3px 5px 10px 2px rgba(0, 0, 0, 0.52);
  border-radius: 5px 10px 40px 40px;
  align-items: center;
}
.skills h3 {
  display: inline-block;
  padding: 0px;
  color: #494949;
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
}
.skills i {
  color: #575757;
  font-size: 20px;
  margin: 20px;
}
.skills i:hover {
  
  color: rgb(170, 170, 170);
}

/*media query a 900 pixeles*/
@media (max-width: 1150px){
  .grid2{
    grid-template-rows: 1fr 180px;
  }
  .grid2 .textoD p{
    font-size: 20px;
  }
  .skills{

    display: block;
  }
}
/*media query a 750 pixeles*/
@media (max-width: 750px){
  .grid2{ 
    margin: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr) 150px  ;
  }
  .grid2 .parrafoBranding{
    grid-row: auto;
  }
  .grid2 .textoD p{

    font-size: 22px;
  }
  .skills{
   
    display: block;
    margin: 0px;
    margin-left: 0px;
  }
}

/*media query a 450 pixeles*/
@media (max-width: 450px){

  .grid2 .textoD p{
    font-size: 18px;
  }
  .skills{
   
    display: block;
  }
  .skills h3{
 
    font-size: 16px;
  }
  .skills i{
    font-size: 13px;
  }
}
